<!--views/articles/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Article: <%= ejsArticle.title %></h1>
<div>
  <ul>
  	<li>Byline: <%= ejsArticle.author  %></li><br>
  	<li><%= ejsArticle.content  %></li>
  </ul>
</div>
<a href="/articles">Read all the news!</a>
<br>
<a href="/">Daily Planet Homepage</a>
</body>
</html>

