<!--views/articles/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Article: <%= ejsArticle.title %></h1>
<div>
  <ul>
  	<li>Author: <%= ejsArticle.author  %></li>
  	<li>Content: <%= ejsArticle.content  %></li>
  </ul>
</div>
<a href="/articles">See all the news!</a>
</body>
</html>

