<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Add an article</h1>
    <form method="POST" action="/articles">
      <input type="text" name="aTitle" placeholder="Title"><br /><br>
      <input type="text" name="aAuthor" placeholder="Author"><br /><br>
      <textarea name="aContent" rows=10 cols=60></textarea><br />
      <button type="submit">Save </button>
    </form>
    <br><a href="/">Daily Planet Homepage</a>
  </body>
</html>
