<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Add an article</h1>
    <form method="POST" action="/articles">
      <input type="text" name="aTitle" placeholder="Title"><br />
      <input type="text" name="aAuthor" placeholder="Author"><br />
      <textarea name="aContent"></textarea><br />
      <button type="submit">Save </button>
    </form>
  </body>
</html>
