<!--views/site/contact.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Share your news tips</h1>
<h2>Because you know best what is going on around you!</h2>
<h3>Text them to us at 123-4567</h3>
<br>
<a href="/">Daily Planet Homepage</a>
</body>
</html>

