<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Welcome to the Daily Planet!</h1>
<h3>Read all the news from Eli and Zach</h3>

<ul>
	<li><a href="/articles">See all articles</a></li>
	<li><a href="/articles/new">Add an article</a></li>
	<li><a href="/about">About the Daily Planet</a></li>
	<li><a href="/contact">Contact the Daily Planet</a></li>
</ul>
</body>
</html>

