<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Site index</h1>
<h2>Welcome to the Daily Planet!</h2>
<h3>This is where I will put in the icon, later.</h3>
<ul>
	<li>
	<a href="/articles">See all articles</a></li>
	<li><a href="/articles/new">Add an article</a></li>
	<li><a href="/site/about">About the Daily Planet</a></li>
</ul>
</body>
</html>

